extends ../../components/layout/layout.pug
include ../../components/breadcrumbs/breadcrumbs.pug
include ../../components/post/post.pug
include ../../components/aside-blog/aside-blog.pug
include ../../components/pagination/pagination.pug

block page
    - var pageName="blog"
    - var title = 'Desire'
    - var keywords = 'keyword1 keyword1 keyword1 keyword1 keyword1 keyword1 '
    - var description = 'description'
    - var library = "css/library.css"
    - var style = "css/blog.css"
block main
    +breadcrumbs()(class="blog__breadcrumbs")
        +breadcrumbs-item('Home', '/')
        +breadcrumbs-item('Blog')
    section.blog.container
        .blog__posts
            +post()(
                data-url="/single-post.html"
                data-img="/img/blog-3.jpg",
                data-header="Red selfies edison bulb four dollar toast humblebrag for the furniture",
                data-date="August 15, 2020",
                data-author="by Ann Summers",
                data-authorUrl="/author/ann-summers",
                data-tag-captions="Bedroom Furniture",
                data-tag-urls="category/bedroom",
                data-img-class="big",
                data-text="Everyday carry actually neutra authentic kogi shabby chic migas small batch craft beer. Literally williamsburg tote bag farm-to-table mustache ugh deep v irony. Af man bun copper mug iPhone enamel pin pug selvage hammock palo santo godard thundercats coloring book yuccie woke. Ugh pok pok taxidermy pabst enamel pin edison bulb farm-to-table"
            )(class="blog__post")
                blockquote.blog__blockquote
                    p.blog__blockquote-text “Simplicity is not the goal. It is the by-product of a good idea and modest expectations” 
                    cite.blog__blockquote-author Paul Rand
            +post()( 
                data-header="Authentic kogi shabby chic",
                data-date="August 12, 2020",
                data-author="by Lux Morningstar",
                data-authorUrl="/author/lux-morningstar",
                data-category="Design",
                data-categoryUrl="category/design",
                data-img-class="big",
                data-video="https://youtu.be/Nxg6UfofZX0",
                 data-img="/img/blog-4.jpg",

            )(class="blog__post")
            +post()(  
                data-header="Semiotics fixie four dollar toast, next level woke",
                data-date="August 18, 2020",
                data-author="by Ann Summers",
                data-authorUrl="/author/ann-summers",
                data-category="Table Furniture",
                data-categoryUrl="category/table-furniture",
                data-img-class="big",
                data-text="Everyday carry actually neutra authentic kogi shabby chic migas small batch craft beer. Literally williamsburg tote bag farm-to-table mustache ugh deep v irony. Af man bun copper mug iPhone enamel pin pug selvage hammock palo santo godard thundercats coloring book yuccie woke. Ugh pok pok taxidermy pabst enamel pin edison bulb farm-to-table",
                data-slider="/img/blog-1.jpg,/img/blog-2.jpg,/img/blog-3.jpg"
            )(class="blog__post")
            +pagination(1,2)(class="blog__pagination container")

        include aside-data-blog.pug
        +aside-blog(asideDataBlog.categories,asideDataBlog.posts,asideDataBlog.tags,asideDataBlog.class)(class="blog__aside")

    