
mixin social-links(itemClass)
    ul.social-links&attributes(attributes)
        li.social-links__item(class=itemClass)
            a.social-links__link.social-links__link--facebook(href="#") Facebook
        li.social-links__item(class=itemClass)
            a.social-links__link.social-links__link--instagram(href="#") Instagram
        li.social-links__item(class=itemClass)
            a.social-links__link.social-links__link--pinterest(href="#") Pinterest
        li.social-links__item(class=itemClass)
            a.social-links__link.social-links__link--whatsapp(href="#") WhatsApp
        li.social-links__item(class=itemClass)
            a.social-links__link.social-links__link--youtube(href="#") Youtube
